@model aplicacionesdecontactos.Models.contacto
@{

}


<div>
    <h3>
        Editar Usuario
    </h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    <form>

        <div class="mb-3">

            <input placeholder="Nombre" @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

        </div>

        <br />

        <div class="mb-3">

            <input placeholder="Direccion" @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <br />

        <div class="mb-3">

            <input placeholder="Telefono" @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


}
